.container{
    .navbar{
        background-color: #fbfaf6;
         height:30px;
        color:#58562d;
        font-weight:bolder;
    }

    .title{
        height: 50px;
        background-color: #5d6146;
        color:#f0efe2;
        font-weight:bolder;
        line-height: 50px;
        padding-left:5px;
        font-size:25px;
    }

   

}

body :global(.am-tabs-default-bar-content){
    background-color: #888e6d;
    color:#f0efe2;
    font-size:16px;

    .am-tabs-default-bar-tab-active{
        color:#f0efe2;
    }
    

}